<header class="header header--fixed">
	<div class="header__container container">
		<a href="/" class="logo">
			<img width="208" height="46" src="./assets/img/svg/logo.svg" alt="logo" />
		</a>

		<div class="header__actions">
			<button class="header__btn btn-reset">Получить демо-доступ</button>

			<a href="tel:88005555219" class="phone-link">
				<span class="phone-link__number">8 800 5555 219</span>
				<span class="phone-link__text">Звонок бесплатный</span>
			</a>
		</div>

		<button class="header__burger btn-reset" aria-label="Открыть меню">
			<svg width="18" height="17">
				<use href="./assets/img/svg/sprite.svg#burger"></use>
			</svg>

			<svg width="29" height="29">
				<use href="./assets/img/svg/sprite.svg#burger_close"></use>
			</svg>
		</button>

		<div class="header__menu">
			<svg width="42" height="42">
				<use href="./assets/img/svg/sprite.svg#vk"></use>
			</svg>

			<a href="tel:88005555219" class="phone-link">
				<span class="phone-link__number">8 800 5555 219</span>
				<span class="phone-link__text">Звонок бесплатный</span>
			</a>

			<button class="header__btn w-full btn-reset">Подать заявку</button>
		</div>
	</div>
</header>
