@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proximanova_light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proximanova_regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proximanova_semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Proxima Nova";
	src: url("../fonts/proximanova_bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Kometa Unicase";
	src: url("../fonts/kometa_unicase_heavy.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
