:root {
	--font-family: "Proxima Nova", sans-serif;
	--second-family: "Kometa Unicase", sans-serif;

	--yellow: #f4bc15;
	--black: #000;
	--black-lite: #444343;
	--grey: #6a6a6a;
	--white: #fff;
	--black-y: #1f1f1c;
	--penny-blue: #050038;
}

// screens
$xxl: 1920px;
$xl: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 480px;
